.logo {
    font-size: 70px;
    color: $color-primary;
    width: 110px;
    height: 110px;
    border: 3px solid $color-primary;
    border-radius: 50%;
    margin-right: 20px;
    @include flexLayout;
}

.main-name {
    font-family: $font-nunito;
    font-size: 50px;
    color: $color-secondary;
    @include textStyles;
}

.sub-name {
    font-family: $font-josefinSans;
    font-size: 18px;
    color: $color-secondary;
    text-align: center;
    @include textStyles;
}