.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;
            transition: left .8s cubic-bezier(1, 0, 0, 1);

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, .4);
                opacity: .7;
                border-radius: 10px;
            }

            .left-img-1 {
                top: 15%;
                left: 15%;
            }

            .left-img-2 {
                top: 35%;
                left: 25%;
            }

            .left-img-3 {
                top: 55%;
                left: 35%;
            }
        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            position: fixed;
            right: -50vw;
            @include flexLayout;
            transition: right .8s cubic-bezier(1, 0, 0, 1);
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-dancingScript;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all .5s;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                }
            }
        }
    }
}

.checkbox:checked~.navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked~.navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked~.hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked~.hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked~.hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked~.hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient((rgba($color-black, .8), rgba($color-black, .6))), url(../images/bg.jpeg) center no-repeat;
    background-size: cover;

    .brand {
        display: flex;
        align-items: center;
        @include centering(15%);
    }

    &-banner {
        text-align: center;
        @include centering(50%);
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    @media(max-width:900px) {
        height: 70vh;
    }

    &-left {
        width: 40%;
        position: relative;
        left: -200px;

        @media(max-width:1300px) {
            left: -150px;
        }

        img {
            width: 100%;
            opacity: .7;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        @media(max-width:1300px) {
            padding: 0 50px;
        }

        .stars {
            margin: 30px;

            @media(max-width:1000px) {
                margin: 15px 0;
            }
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;

            @media(max-width:1000px) {
                font-size: 12px;
            }
        }

        .description {
            font-family: $font-josefinSans;
            font-size: 25px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            &::first-letter {
                padding-left: 50px;
            }

            @media(max-width:1600px) {
                font-size: 18px;
            }

            @media(max-width:1000px) {
                font-size: 14px;
            }
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-secondary;
            transition: color .7s;

            &:hover {
                color: $color-primary;
            }

            @media(max-width:1000px) {
                font-size: 35px;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-josefinSans;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles(capitalize)
    }
}