.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient((rgba($color-black, .8), rgba($color-black, .6))), url(../images/bg.jpeg) center no-repeat;
    background-size: cover;

    .brand {
        display: flex;
        align-items: center;
        @include centering(15%);
    }

    &-banner {
        text-align: center;
        @include centering(50%);
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    &-left {
        width: 40%;
        position: relative;
        left: -200px;

        img {
            width: 100%;
            opacity: .7;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        .stars {
            margin: 30px;
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;
        }

        .description {
            font-family: $font-josefinSans;
            font-size: 25px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            &::first-letter {
                padding-left: 50px;
            }
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-secondary;
            transition: color .7s;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-josefinSans;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles(capitalize)
    }
}