.hamburger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background-color: #262626;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
        opacity: .7;
        border-radius: 10px; }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
    .navbar-navigation .nav-list-item {
      list-style: none; }
    .navbar-navigation .nav-list-link {
      font-family: "Dancing Script", cursive;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: #bbb;
      text-decoration: none;
      display: block;
      margin: 20px;
      text-align: center;
      transition: all .5s; }
      .navbar-navigation .nav-list-link:hover {
        color: #d3ab55;
        letter-spacing: 4px; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg); }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover; }
  .header .brand {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header-banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.about-us {
  height: 90vh;
  display: flex;
  align-items: center; }
  .about-us-left {
    width: 40%;
    position: relative;
    left: -200px; }
    .about-us-left img {
      width: 100%;
      opacity: .7; }
  .about-us-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box; }
    .about-us-right .stars {
      margin: 30px; }
    .about-us-right .star {
      font-size: 15px;
      color: #d3ab55;
      margin-left: 10px; }
    .about-us-right .description {
      font-family: "Josefin Sans", sans-serif;
      font-size: 25px;
      font-style: italic;
      color: #bbb;
      text-align: justify; }
      .about-us-right .description::first-letter {
        padding-left: 50px; }

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 70px; }
  .footer .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px; }
    .footer .social-media-item {
      list-style: none; }
    .footer .social-media-link {
      text-decoration: none;
      font-size: 50px;
      color: #bbb;
      transition: color .7s; }
      .footer .social-media-link:hover {
        color: #d3ab55; }
  .footer-copyright-paragraph {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #bbb;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize; }

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300; }
  .hamburger-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s; }
    .hamburger-menu .menu-line {
      width: 100%;
      height: 4px;
      background-color: #d3ab55;
      transform-origin: right;
      transition: all .5s .5s; }

.logo {
  font-size: 70px;
  color: #d3ab55;
  width: 110px;
  height: 110px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px; }

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 80px; }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer; }
  .main-btn:hover {
    background-color: #d3ab55;
    color: #262626; }

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden; }
  .card:hover .card-overlay {
    left: 0; }
  .card-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(211, 171, 85, 0.6);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left .9s ease-in; }
    .card-overlay-heading {
      font-family: "Nunito", sans-serif;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
    .card-overlay-paragraph {
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      margin-bottom: 30px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
    .card-overlay-btn {
      width: 150px;
      height: 40px;
      color: #d3ab55;
      background-color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #d3ab55;
      border-radius: 30px;
      outline: none;
      cursor: pointer; }
  .card-img {
    object-fit: cover;
    opacity: .5; }
