* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover; }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; }

.logo {
  font-size: 70px;
  color: #d3ab55;
  width: 110px;
  height: 110px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
